{% extends "layout_a.html" %}
{% block drugs_info %}
.drugs_info {
background-color:#FAFAFA;
border: 1px solid #ccc; /* 메뉴 테두리 */
border-radius:0.5em; /* 메뉴 테두리 둥글게 */
}
{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-lg-12">
        <!--<h1 id="type"><img src="static/logo_snu.png" style="width: 30px">&nbsp; 등록약제</h1>-->
        <h1>&nbsp;애멸구 화학합성 살충제 유효성분 내역 및 특성</h1>
    </div>
  </div>

  <div>
    <table class="type01" style="width:1000px;">
      <thead>
        <tr>
            <th>유효성분</th>
            <th>단제 유효성분</th>
            <th>합제 유효성분</th>
            <th>주요 독성 작용</th>
            <th>IRAC 기준 그룹</th>
            <th>세부 작용기작</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Buprofezin</td>
            <td></td>
            <td>O</td>
            <td>성장 및 발육</td>
            <td>그룹 16</td>
            <td>키친생합성 저해제</td>
        </tr>
        <tr>
            <td>Chlorantraniliprole</td>
            <td></td>
            <td>O</td>
            <td>신경계 및 근육</td>
            <td>그룹 28</td>
            <td>Ryanodine receptor 조절</td>
        </tr>
        <tr>
            <td>Clothianidin</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 4A</td>
            <td>nAChR 경쟁적 조절</td>
        </tr>
        <tr>
            <td>Etofenprox</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 3A</td>
            <td>Sodium channel 조절</td>
        </tr>
        <tr>
            <td>Fenobucarb</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 1A</td>
            <td>Acetylcholinesterase (AChE) 억제</td>
        </tr>
        <tr>
            <td>Flubendiamide</td>
            <td></td>
            <td>O</td>
            <td>신경계 및 근육</td>
            <td>그룹 28</td>
            <td>Ryanodine receptor 조절</td>
        </tr>
        <tr>
            <td>Methoxyfenozide</td>
            <td></td>
            <td>O</td>
            <td>성장 및 발육</td>
            <td>그룹 18</td>
            <td>Ecdysone receptor 작용제</td>
        </tr>
        <tr>
            <td>Thiacloprid	</td>
            <td></td>
            <td>O</td>
            <td>신경계 및 근육</td>
            <td>그룹 4A</td>
            <td>nAChR 경쟁적 조절</td>
        </tr>
        <tr>
            <td>Acetamiprid</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 4A</td>
            <td>nAChR 경쟁적 조절</td>
        </tr>
        <tr>
            <td>Carbosulfan</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 1A</td>
            <td>Acetylcholinesterase (AChE) 억제</td>
        </tr>
        <tr>
            <td>Chromafenozide</td>
            <td></td>
            <td>O</td>
            <td>성장 및 발육</td>
            <td>그룹 18</td>
            <td>Ecdysone receptor 작용제</td>
        </tr>
        <tr>
            <td>Cyantraniliprole</td>
            <td></td>
            <td>O</td>
            <td>신경계 및 근육</td>
            <td>그룹 28</td>
            <td>Ryanodine receptor 조절</td>
        </tr>
        <tr>
            <td>Dinotefuran</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 4A</td>
            <td>nAChR 경쟁적 조절</td>
        </tr>
        <tr>
            <td>Flonicamid</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 29</td>
            <td>Chordotonal organ 조절-미확정</td>
        </tr>
        <tr>
            <td>Imidacloprid</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 4A</td>
            <td>nAChR 경쟁적 조절</td>
        </tr>
        <tr>
            <td>Indoxacarb</td>
            <td></td>
            <td>O</td>
            <td>신경계 및 근육</td>
            <td>그룹 22A</td>
            <td>Voltage-dependent sodium channel 억제</td>
        </tr>
        <tr>
            <td>Pymetrozine</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 9B</td>
            <td>Chordotonal organ TRPV channel 조절</td>
        </tr>
        <tr>
            <td>Sulfoxaflor</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 4C</td>
            <td>nAChR 경쟁적 조절</td>
        </tr>
        <tr>
            <td>Tebufenozide</td>
            <td></td>
            <td>O</td>
            <td>성장 및 발육</td>
            <td>그룹 18</td>
            <td>Ecdysone receptor 작용제</td>
        </tr>
        <tr>
            <td>Thiamethoxam</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 4A</td>
            <td>nAChR 경쟁적 조절</td>
        </tr>
        <tr>
            <td>Chlorpyrifos-Methyl</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 1B</td>
            <td>Acetylcholinesterase (AChE) 억제</td>
        </tr>
        <tr>
            <td>Benfuracarb</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 1A</td>
            <td>Acetylcholinesterase (AChE) 억제</td>
        </tr>
        <tr>
            <td>Carbofuran</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 1A</td>
            <td>Acetylcholinesterase (AChE) 억제</td>
        </tr>
        <tr>
            <td>Fipronil</td>
            <td>O</td>
            <td></td>
            <td>신경계 및 근육</td>
            <td>그룹 2B</td>
            <td>GABA-gated chloride channel 억제</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
