{% extends "layout_b.html" %}
{% block life %}
.life {
background-color:#FAFAFA;
border: 1px solid #ccc; /* 메뉴 테두리 */
border-radius:0.5em; /* 메뉴 테두리 둥글게 */
}
{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-lg-12">
        <!--<h1 id="type"><img src="static/logo_snu.png" style="width: 30px">&nbsp; 생활사</h1>-->
    </div>
  </div>

    <div class="panel panel-default">
        <div class="panel-body" style="width:1000px;">
            <p><h1>배추좀나방의 형태 및 생태</h1></p><br/>
            학명 : Plutella xylostella<br />
            영명 : Diamond back moth<br />
            나비목 좀나방과<br /><br />

            <h3>[형태적 특징]</h3>
            - 충체길이 : 6mm, 날개를 편 충체길이 : 13~16mm<br />
            - 날개를 접었을 시 등쪽 중앙에 유황백색의 다이아몬드 모양 무늬<br />
            - 알 길이 : 0.5mm, / 유충 길이 : 8.5~10mm<br /><br />

            <h3>[발생생태]</h3>
            - 세계적으로 분포하는 해충으로 우리나라에서는 1980년대 중반부터 문제시되고 있음<br />
            - 보통 8~12세대 발생, 겨울 월평균기온 0°C 이상이면 발육 및 성장 가능함<br />
            - 성충, 유충 또는 번데기로 월동이 가능함<br />
            - 암컷 성충은 잎 뒷면의 옆맥을 따라 1개씩 산란, 1마리당 평균 산란수는 100~200개임<br />
            - 국에서는 4월 하순부터 배추, 양배추에서 발생 시작하여 대발생함<br /><br />

            <h3>[기주와 피해]</h3>
            - 유충 : 무, 배추, 양배추 등 배추와 식물의 잎 가해<br />
            - 짧은 세대기간 및 빠른 번식속에 따른 대규모 피해 발생<br />
            - 배추, 양배추 결구 내 가해 및 배설에 의한 상품가치 저하 발생<br />

            <img src="static/life-b.png" width="" height="">

        </div>
    </div>



  <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
        <!---->
    <!--</div>-->
  <!--</div>-->
{% endblock %}
