{% extends "layout_reference_b.html" %}
{% block reference %}
.reference {
background-color:#FAFAFA;
border: 1px solid #ccc; /* 메뉴 테두리 */
border-radius:0.5em; /* 메뉴 테두리 둥글게 */
}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-12">
        <!--<h1 id="type"><img src="static/logo_snu.png" style="width: 30px">&nbsp; 참고문헌</h1>-->
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-body" style="width:1000px;">
    <ol>
        <p>1. 2018 작물보호제지침서, 한국작물보호협회.</p>
        <p>2. <a href="http://www.nongsaro.go.kr/portal/Main.ps?menuId=PS00001">농사로(농촌진흥청)</a></p>
        <p>3. 김길하, 김동순, 박정규, 조수원, 윤영남, 이경열. 2012. 삼고 해충학 –이론과 응용-. 향문사</p>
        <p>4. 배추좀나방 지역 계통의 11개 약제에 대한 저항성 수준 평가와 약제효력지수에 대한 개념 설정. 농약과학회지. 2017.21(2):214-223</p>
    </ol>

  </div>
{% endblock %}

<!--농약사용지침서, http://www.koreacpa.org/new/sub.html?sub=2, 작물보호협회-->
<!--농사로, http://www.nongsaro.go.kr/portal/Main.ps?menuId=PS00001, 농촌진흥청-->
<!--Min, Sujeong, et al. "Insecticide resistance monitoring and correlation analysis to select appropriate insecticides against Nilaparvata lugens (Stål), a migratory pest in Korea." Journal of Asia-Pacific Entomology 17.4 (2014): 711-716.-->
<!--Jeong, In-Hong, et al. "Monitoring and evaluation of differential insecticide resistance profiles in the immigrant vs. indigenous populations of the small brown planthopper (Laodelphax striatellus Fallén) in Korea." Journal of Asia-Pacific Entomology 19.1 (2016): 247-252.-->
