{% extends "layout_b.html" %}
{% block resistance_info %}
.resistance_info {
background-color:#FAFAFA;
border: 1px solid #ccc; /* 메뉴 테두리 */
border-radius:0.5em; /* 메뉴 테두리 둥글게 */
}
{% endblock %}
{% block content %}

  <div class="row" style="width:1000px;">
    <p class="col-lg-12">
        <!--<h1 id="type"><img src="static/logo_snu.png" style="width: 30px">&nbsp; 저항성 정보</h1>-->
      <div style="font-size:16px"><h1>&nbsp; 비래/토착 배추좀나방 저항성 수준(2017년)</h1></div>
      <br />
      <div style="font-size:15px">&nbsp; 숫자는 감수성 계통 대비 지역 계통의 저항성 비를 나타낸 것입니다.</div>
      <div style="font-size:15px">&nbsp; 살충제 원제를 이용하여 미량국소침지처리법으로 저항성 수준을 평가한 것이므로</div>
      <div style="font-size:15px">&nbsp; 상용화 제품 적용 시 나타나는 저항성 수준과 차이가 있을 수 있습니다. 이점 유념하시기 바랍니다.</div>
    </p>
  </div>

  <div>
  <table class="type01" style="width:1000px;">
    {% for row in rows %}
      <tr>
      {% for col in row %}
        <td>{{col}}</td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>
  </div>

{% endblock %}
